.cancel-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
	padding: 3px;
	background: transparent;
	border: none;
	cursor: pointer;

	&:hover {
		svg path {
			stroke-width: 2;
		}
	}

	svg {
		display: block;
	}

	path {
		fill: currentColor;
		stroke: currentColor;
		stroke-width: 1;
	}
}
